<div>
    <header>
        <h1 align="center"><b>Welcome to myFlix!</b></h1>
    </header>
</div>

<div style="display: flex;">
    <nav>
        <button mat-button color="primary" (click)="redirectProfile()">Profile</button>
        <button mat-button color="primary" (click)="logout()">Logout</button>
    </nav>
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">

        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImageURL}} alt={{movie.Title}} style="width: 300px; height: 400px;" />
        <mat-card-actions align="center">
            <button mat-button color="primary" (click)="openGenreDialog(movie.Genre)">
                Genre
            </button>
            <button mat-button color="primary" (click)="openDirectorDialog(movie)">
                Director
            </button>
            <button mat-button color="primary" (click)="openSynopsisDialog(movie)">
                Synopsis
            </button>
            <button align="center" mat-button style="align-content: center;"
                class="{{checkIsFavorite(movie._id)? 'heart-favorite': ''}}">

                <mat-icon fonticon="{{ movie.isFavorite ? 'favorite' : 'favorite_border'}}"
                    id="{{movie._id}}-favorite-icon" (click)="modifyFavoriteMovies(movie)">favorite_border</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>